## 不同步到远程仓库的目录列表
.github/
backup/
build/
### 用户词典目录
*.userdb/
### 同步目录
sync/

## 不同步到远程仓库的文件列表
### 包含个人信息的文件
installation.yaml
joy.symbols.custom.yaml
predict.db
user.yaml
### 其它不应该包含在此仓库的文件列表
descript.ion
*.sublime-*
*.bak
