## Folders
backup/
build/
### User vocabulary database folders
*.userdb/
### Sync folder
sync/

## Files
### Files containing my personal data.
installation.yaml
joy.symbols.custom.yaml
predict.db
user.yaml
### Other files that should not be included in this repository
descript.ion
*.sublime-*
*.bak
